<footer>
	<div class="content">
		<ul>
			<li>
				<a href="http://www.twitter.com/vanessarusu" target="blank">
					<img src="assets/instagram-logo.svg" alt="Instagram">
				</a>
			</li>
			<li>
				<a href="http://www.instagram.com/vanessarusu" target="blank">
					<img src="assets/twitter-logo.svg" alt="Twitter">
				</a>
			</li>
			<li>
				<a href="mailto:info@vanessarusu.com">
					<img src="assets/email-logo.svg" alt="Email Me">
				</a>
			</li>
			<li>
				<a href="http://www.github.com/vanessarusu" target="blank">
					<img src="assets/github.svg" alt="Github Account">
				</a>
			</li>
		</ul>
		<p>
			&copy; 2017 Vanessa Rusu
		</p>
	</div>
</footer>